.navbar-nav a{
    font-family: 'Roboto', sans-sherif;
}
.navbar-brand {
    font-family: 'Cabin Sketch', cursive;
}

@media (min-width: 400px){
    /*.navbar-nav a{*/
        /*font-size: 18px;*/
    /*}*/
    .navbar-brand {
        font-size: 30px;
    }
}
