/*.navbar-nav a{*/
    /*font-family: 'Roboto', sans-sherif;*/
/*}*/
/*.navbar-brand {*/
    /*font-family: 'Cabin Sketch', cursive;*/
/*}*/

/*@media (min-width: 400px){*/
    /*[>.navbar-nav a{<]*/
        /*[>font-size: 18px;<]*/
    /*[>}<]*/
    /*.navbar-brand {*/
        /*font-size: 30px;*/
    /*}*/
/*}*/

/*------------------------------------------*

/* CSS for absolute simple and clear design */

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: white;
    font-family: 'Roboto', sans-sherif;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}

.site {
    text-align: justify;
    margin: 5em;
}

.site .header {
    font-size: 120%;
    font-family: 'Over the Rainbow', cursive;
    /*border-bottom: 4px solid #eee;*/
}

.site .header div {
    display: inline-block;
    margin-bottom: 1em;
}

.site .header div a {
    color: #8c1515;
}

.site .header .title {
    font-size: 150%;
}

.site .header .extra {
    margin-left: 2em;
}

.site .site-body {
    margin-top: 2em;
}

.site .footer {
    font-size: 80%;
    /*border-top: 4px solid #eee;*/
    margin-top: 2em;
}
