* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-sherif;
    font-size: 2.5vmin;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: none;
}

.site {
    text-align: justify;
    padding: 5vh 5vw 5vh 5vw;
    width: auto;
}

.site .header {
    font-family: 'Over the Rainbow', cursive;
    padding-bottom: 1em;
    border-bottom: 0.33vmin solid #eee;
    display: flex;
    justify-content: space-between;
}

.site .footer {
    padding-top: 1em;
    border-top: 0.33vmin solid #eee;
    display: flex;
    justify-content: space-between;
}

.site .header div {
    display: inline-block;
    /*margin-right: 2em;*/
}

.site .footer div{
    font-size: 90%;
    display: inline-block;
}

.site .header div a {
    color: #8c1515;
}

.site .header .title {
    font-size: 200%;
}

.site .site-body {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    width: 100%;
}

.site .site-body .side-nav{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.site .site-body .content{
    display: inline-block;
    width: 80%;
    margin-left: 2em;
    vertical-align: top;
    text-align: start;
}

.content h1, h2, h3, h4, h5, h6{
    color: #808080;
}

.site .site-body .side-nav ul{
    list-style-type: none;
}

.site .site-body .side-nav ul li{
    word-wrap: break-word;
    text-align: start;
    margin-bottom: 0.5em;
}

.site .site-body .side-nav ul li a{
    color: #808080;
    /*font-weight: 700;*/
}
