---
layout: page
title: Cycling
permalink: cycling
---

<div style="margin: 0% 0% 2% 0%">
<iframe id="strava-weekly-symmary" height='160' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/3552257/activity-summary/6b04edd3cf3a6626b994cab02529367eee371df9'>&nbsp;</iframe>
</div>

<ul>
    {% for post in site.posts %}
        {% if post.category == 'cycling' %}
            <li>
                <p>{{post.date | date: "%b %-d, %Y"}} - <a href={{post.permalink}}> {{post.title}} </a> </p>
            </li>
        {% endif %}
    {% endfor %}
</ul>
