---
layout: page
title: Books I Have Read
permalink: read-books
---

I am not a voracious reader. I read a book taking quite a bit of time. Following is the list of my recenly read books.
<br/>
<ul>
    {% for book in site.data.read-books %}
        <li>
            <a href={{book.goodreads}}> {{book.title}} </a>;
            {{book.author}} [{{book.date}}]
            {% if book.comment %}
                <br/>
                (Opinion: {{book.comment}})
            {% endif %}
        </li>
    {% endfor %}
</ul>
