<html>
    {% include head.html %}
    <body>
        <div class="site">
            <div class="header">
                <div class="title">
                    <a href="/">Md. Taufique Hussain</a>
                </div>
                <div class="extra">
                    <a href="/">Home</a>
                </div>
            </div>
            <div class="site-body">
                <div class=""></div>
                {{ content }}
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
